.grid {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 240px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.pic {
    display: flex;
    background-position: center;
    border-radius: 2px;
    background-repeat: no-repeat;
}

.pic:hover {
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
}

@media screen and (min-width: 600px){
    .pic-wide-row-column {
        grid-row: span 2 / auto;
        grid-column: span 2 / auto;
    }
}