body {
    background-color:beige;
}

h1 {
    background-color:rgb(245, 213, 174);
    color:coral;
    text-decoration: underline overline coral;
}

h2 {
    background-color: bisque;
    color:hsl(30, 100%, 50%);
    max-width: max-content;
}

h3 {
    color: #0088ff;
}

.block {
    display: block;
    border-color: rgb(0, 94, 255);
    border-style: dotted;
    border-width: 2px;
    border-radius: 1em;
    padding: 10px 0.5em;
    margin: 20px 20px 20px 1em;
    text-align: center;
}

.smallblock {
    text-decoration: rgb(30, 108, 210) wavy underline;

}
