---
name: Test Report
about: Specify the elements that need to be tested
title: "[Test]"
labels: ''
assignees: ''

---

# **Description of Test Conditions**
A clear and concise description of what elements get tested and what test conditions are used.

## **Reproduction Method**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See the results

## **Expected Behavior**
A clear and concise description of what results are expected to happen.

## **Actual Results as Screenshots**
If applicable, add screenshots to help explain the results.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

## **Smartphone (please complete the following information):**
 [ ] Device: [e.g. iPhone6]
 [ ] OS: [e.g. iOS8.1]
 [ ] Browser [e.g. stock browser, safari]
 [ ] Version [e.g. 22]

## **Comments**
Add any other comments here.
